/9155_Pranil_Assignment 2.docx
/9155_Pranil_Assignment 2.pdf
/Appreciation_Devtown_page-0001.jpg
/Devtown_certificate_completion_page-0001.jpg
/Google_Frontend_bootcamp_page-0001.jpg
/Home.webp
/Microsoft_Frontend_bootcamp_page-0001.jpg
/Nopawsdown.jpeg
/Pranil Rego_resume.pdf
/profile-pic.png
/styles.css